.sec-1{
    background-color: white;
    text-align: center;
    padding: 250px;
    font-family: Raleway;
    font-size: 36px;
    background-attachment: fixed;
    min-height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sec-2{
    background-color: #5d576b;
    font-family: raleway;
    color: white;
    text-align: center;
    background-size: cover;
    min-height: 400px;
    padding: 50px;
}