.Header {
    display: inline-block;
    margin-right: 20px;
    padding-left: 5%;
  }

.sec-1{
    font-family: raleway;
    text-align: center;
    padding-top: 10em;
    font-size: 25px;
    background-color: white;
    padding-bottom: 10em;
}

.sec-2{
  font-family: raleway;
  font-size: 20px;
  color: white;
  text-align: left;
  background-color: #5d576b;
  padding-top: 10em;
  padding-bottom: 10em;
}