.Header {
    display: inline-block;
    margin-right: 20px;
    padding-left: 5%;
}

.sec-1 {
    min-height: 600px;
    font-family: raleway;
    text-align: center;
    font-size: 26px;
    background-color: #d9e5c7;
}
.ml3{
    padding-top: 7em;
    padding-bottom: 3em;
}

.sec-2{
    min-height: 600px;
    font-family: raleway;
    text-align: center;
    font-size: 20px;
    background-color: #595959;
}
.sec-2 p{
    padding-top: 12.5em;
    color: white;
}

.footer {
    display: flex;
    flex-direction: column;
    /* Arrange items in a column */
    align-items: center;
    /* Arrange items in a column */
    width: 100%;
    font-family: Raleway;
    background-color: white;
    height: auto;
}

.footer h1 {
    margin: 0;
    /* Remove default margin */
    padding-bottom: 3%;
    padding-top: 5%;
}

.footer ul li {
    margin-right: 20px;
    /* Adjust spacing between list items */
}

.line {
    width: 80%;
    border-bottom: 1px solid black;
    /* Visual line */
    margin-top: 10px;
    /* Adjust spacing between list and line */
}