.container-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  }

  .image-1 {
    flex: 1;
    max-width: 40%; /* Adjust this value as needed */
    margin: 5em;
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
  }