.container-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  max-width: max-content;
}

.Header {
  display: inline-block;
  margin-right: 60px;
  padding-left: 5%;
}

.slideshow {
  width: 100%;
  text-align: center;
  /* Center the images horizontally */
  margin-top: 30px;
}

.slideshow img {
  width: 150px;
  height: 175px;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  display: inline-block;
}

.slideshow img.active {
  opacity: 1;
}

.sec-1{
  min-height: 400px; 
  text-align: center;
  padding-top: 400px;
  font-family: raleway;
  font-size: 26px;
}

.sec-2{
  background-color: #879392;

}
.sec-2 div p{
  color: white;
  font-family: Raleway;
  min-height: 400px;
  text-align: Left;
  font-size: 20px ;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .image-1 img {
    width: 60%; /* Adjust width for smaller screens */
  }
}
p {
  font-family: raleway;
  font-size: small;
  margin-top: 10em; /* Adjust margin as needed */
  padding: 5%;
}

.footer {
  display: flex;
  flex-direction: column;
  /* Arrange items in a column */
  align-items: center;
  /* Arrange items in a column */
  width: 100%;
  font-family: Raleway;
  background-color: white;
  
}

.footer h1 {
  margin: 0;
  /* Remove default margin */
  padding-bottom: 3%;
  padding-top: 5%;
}

.footer ul li {
  margin-right: 20px;
  /* Adjust spacing between list items */
}

.line {
  width: 80%;
  border-bottom: 1px solid black;
  /* Visual line */
}