/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar styles */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Raleway', sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #E14747;
  z-index: 1000;
}

.navbar nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar nav ul li {
  display: inline;
  margin-right: 30px;
}

/* Contact link */
.contact {
  padding: 15px;
}

/* Image container */
.image {
  max-width: 40%;
  margin: 5em;
}

/* Image styles */
.image img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Biography section styles */
.biography {
  font-family: 'Raleway', sans-serif;
  padding: 20px;
}
